html,
body {
	/*background-image: url(../img/blue-2702172.jpg);
	background-position: top center; 
	background-size: cover;*/
	background-color: #0d0f2c;
	color: white;
}

.aa {
	height: 160px;
}

.container {
	max-width: 1200px;
	display: flex;
	/*background-color: #26284c;*/
	background-color: rgba(38, 40, 76, 0.71);
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.left {
	width: 20%;
	min-width: 200px;
	box-sizing: border-box;
}

.userView {
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}

.userView img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-top: -75px;
	padding: 6px;
	border: 1px solid white;
	cursor: pointer;
}

.userView img:hover {
	box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.userView-name {
	margin-top: 10px;
	font-size: 22px;
}

.userView-status {
	font-size: 16px;
}

.userView a {
	display: block;
	color: white;
	font-size: 14px;
}

.userView button {
	width: 100px;
	height: 34px;
	background-color: #5ab7a7;
	border: none;
	border-radius: 4px;
	color: white;
	margin: 10px 0;
	cursor: pointer;
}

.userView button:hover {
	background-color: #34b39d;
}

.userView-special {
	line-height: 34px;
	font-size: 16px;
}

.functionView {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	margin-top: 16px;
	margin-bottom: 20px;
	cursor: pointer;
}

.functionView-item {
	padding: 10px;
}

.functionView-item:hover {
	background-color: #1d1f3e;
}

.functionView-item i {
	font-size: 40px;
	position: relative;
	left: 12px;
}

.functionView-item p {
	margin-top: 10px;
	text-align: center;
	line-height: 25px;
}

.list {
	font-size: 16px;
	list-style: none;
}

.list li {
	text-align: center;
}

.list li a {
	color: white;
	line-height: 40px;
}

.list li:hover {
	background-color: #1d1f3e;
}

.right {
	width: 80%;
	margin-top: 20px;
	border-left: 1px solid white;
	padding: 0 5%;
	box-sizing: border-box;
}

.right h3 {
	font-size: 24px;
	line-height: 60px;
	letter-spacing: 5px;
}

button:hover {
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4) inset;
}

@media only screen and (max-width:768px) {
	.train-item {
		flex-direction: column;
	}
	.train-item .jieshao {
		padding-left: 0px;
		line-height: 30px;
	}
	.userView img {
		margin-top: 15px;
	}
	.aa {
		height: 60px;
	}
	.container {
		margin: 0 auto;
		padding-bottom: 20px;
		margin-bottom: 0;
	}
	.left {
		width: 20%;
		min-width: 200px;
		padding: 0 4px;
		box-sizing: border-box;
	}
	.right {
		margin-top: 20px;
		width: 80%;
		border-left: 1px solid white;
		/*padding: 0 5%;*/
		padding: 0 4px;
		box-sizing: border-box;
	}
}