*{
	margin: 0;
	padding: 0;
	color: white;
	font-family: "微软雅黑";
}
h3 {
	font-size: 24px;
	line-height: 60px;
	
}
.stzk {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.stzk li {
	height: 0;
	width: 25%;
	padding-top: 25%;
	position: relative;
}

.stzk li .content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.stzk li:nth-of-type(odd) .content {
	background-color: rgba(13, 15, 44, 0.8);
}

.stzk li:nth-of-type(even) .content {
	background-color: rgba(13, 15, 44, 0.6);
}

.stzk li:nth-of-type(5),
.stzk li:nth-of-type(6) {
	width: 50%;
	padding-top: 25%;
}

.stzk li .content p {
	font-size: 24px;
	color: white;
}

.stzk li .content p:first-of-type {
	margin-bottom: 15px;
	font-size: 20px;
	color: #CCC;
}

button {
	padding: 5px 20px;
	background-color: #5ab7a7;
	border: none;
	font-size: 14px;
	color: white;
	margin-top: 10px;
	border-radius: 6px;
}